<!DOCTYPE html>
<html>
<head>
  <title>SsnValidator</title>
  <%= stylesheet_link_tag    "ssn_validator/application", media: "all" %>
  <%= javascript_include_tag "ssn_validator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
